# edition and reload of .zshrc/.vimrc
alias vv="$EDITOR ~/.vimrc"
alias vz="$EDITOR ~/.zshrc"
alias rz=". ~/.zshrc"
alias va="$EDITOR ~/.aliases"
alias vx="$EDITOR ~/.Xresources"
alias v3="$EDITOR ~/.config/i3/config"
alias vp="$EDITOR ~/.config/polybar/config"

alias path='echo -e ${PATH//:/\\n}'
alias repo="cd ~/repo"
alias dot="cd ~/repo/dotfiles"

alias cal='cal -m --color=auto'
alias h='history'
alias -g G='| grep --color'
alias -g L='| less' 
alias lh='ls -Ad .*'
alias v='vim'

alias transp='trans pl:en'
alias transe='trans en:pl'
alias words='cat /usr/share/dict/words | grep -E $@'

# @see .scripts
alias cdf='. ~/.scripts/cdf.sh'
alias grepd='~/.scripts/grepd.sh'
alias uni='python ~/.scripts/uniesc$PYV.py'

# @see .functions
alias mkcd=mkcd_func
alias cds=cdls

alias otw=overthewire
