# dotfiles manipulation
alias rz="source ~/.zshrc"
alias vv="$EDITOR ~/.vimrc"
alias vz="$EDITOR ~/.zshrc"
alias va="$EDITOR ~/.aliases"
alias vx="$EDITOR ~/.Xresources"
alias v3="$EDITOR ~/.config/i3/config"
alias vp="$EDITOR ~/.config/polybar/config"
alias ve="$EDITOR ~/.env"
alias vl="$EDITOR ~/.localcfg"

# dirs
alias repo="cd ~/repo"
alias dot="cd ~/repo/dotfiles"

# pipe
alias -g C='| clipcopy'
alias -g G='| grep --color'
alias -g L='| less' 
alias -g J='| python -m json.tool'
alias -g json='| python -m json.tool'

# random
alias path='echo -e ${PATH//:/\\n}'
alias cal='cal -m --color=auto'
alias h='history'
alias lh='ls -Ad .*'
alias v='vim'

alias yt='youtube-dl --extract-audio --audio-format mp3 --audio-quality 0 --add-metadata --metadata-from-title "%(artist)s - %(title)s" "$@"'

alias transp='trans pl:en'
alias transe='trans en:pl'
alias words='cat /usr/share/dict/words | grep -E $@'

# npm
alias ni='npm install'
alias nci='npm ci'
alias ns='npm start'
alias nr='rm -rf node_modules'
alias nl='npm run lint'

# vpn
alias nvp='nordvpn connect Poland'
alias nvd='nordvpn d'

# @see .scripts
alias cdf='. ~/.scripts/cdf.sh'
alias grepd='~/.scripts/grepd.sh'
alias uni='python ~/.scripts/uniesc$PYV.py'
alias te='~/.scripts/translate.sh en:pl -b "$@"'
alias tp='~/.scripts/translate.sh pl:en -b "$@"'

# @see .functions
alias mkcd=mkcd_func
alias cds=cdls
alias otw=overthewire

