# edition and reload of .zshrc
alias vz="$EDITOR ~/.zshrc"
alias rz=". ~/.zshrc"

alias repo="cd ~/repo"

# @see .scripts
alias grepd='~/.scripts/grepd.sh $@'
alias cdf='. ~/.scripts/cdf.sh "$@"'
alias cdfs='. ~/.scripts/cdf.sh ~ "$@"'

# @see .functions
alias mkcd=mkcd_func
alias cds=cdls

alias otw=overthewire
